@keyframes rollAround {
/*	0% {
		transform: translateX(0) rotate(200deg) scale(1); 
	}*/
	3% {
		transform: translateX(-400px) rotate(0deg) scale(1); 
	}

	40% {
		transform: translateX(1200px) rotate(1200deg) scale(0.5);
	}
	100% {
		transform: translateX(-1000px) rotate(-1200deg) scale(0.01);
	}	

}

.sheep {
	animation: rollAround 16s;
	animation-fill-mode: forwards;
}