img {
	max-width: 280px;
}

body {
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.6;
	max-width: 750px;
	color: #222427;
}
blockquote {
	padding: 10px;
	background: WhiteSmoke;
	border-radius: 3px;
}

a {
	color: #222427;
}

#footer {
	background-color: LightCyan;
	padding: 10px;
}

#header {
	background-color: BlanchedAlmond;
	padding: 10px;
}

#notes {
	color: grey;
}