/*Fonts*/
@font-face {
	font-family: Lato;
	src: url("../Fonts/Lato/Lato-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: Lato;
	src: url("../Fonts/Lato/Lato-Italic.ttf") format("truetype");
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: Lato;
	src: url("../Fonts/Lato/Lato-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}

/*General formatting*/
body {
	font-family: Lato, sans-serif;
	font-size: 1.1rem;
	line-height: 1.7;
	box-sizing: border-box;
	min-height: 100vh;
	margin: 0;
	color: #1E2023;
	display: flex;
	flex-flow: column nowrap;
}

main {
	max-width: 50rem;
	margin: 0 auto;
	padding: 3rem 0;
}

article { max-width: 35rem; }

article, div > section, section {
	padding: 1rem;
}

img { width: 11rem; }

a { color: #1E2023; }

::selection { background-color: #FFF275; }

a:hover, span, figcaption, blockquote, .notes {
	color: #595b5d;
}

blockquote {
	padding: 0;
	padding-left: 1.25rem;
	margin: 1.25rem 0;
	border-left: 1px solid #595b5d;
}

hr {
	border: 0.5px solid #CDCFD1;
	margin: 2.5rem;
}

/*Navbars*/
nav ul {
	background-color: #83878C;
	display: flex;
	list-style: none;
	flex-flow: row wrap;
	font-size: 1rem;
	list-style: none;
	justify-content: center;
	margin: 0;
	padding: 0.7rem;
}

nav ul li:not(:last-child) {
	margin-right: 1em;
}

nav ul li a {
	text-decoration: none;
	color: #FFFDFB;
}

nav ul li {
	color: #FFFDFB;
}

nav ul li a:hover {
	text-decoration: underline;
	color: #FFFDFB;
}

/*Headers*/
h1, .heroHeading { 
	text-align: center;
	margin-bottom: 3rem;
}

h1, .heroHeading { font-size: 2.6rem; }
h2 { font-size: 1.7rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.3rem; }
h6 { font-size: 1.2rem; }

h1, h2, h3, h4, h5, h6 {
	line-height: 1.4em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
}

input[type=submit] {
	background-color: #00AFB9;
	border: none;
	border-radius: 4px;
	color: white;
	padding: 1rem 2rem;
/*	text-decoration: none;*/
	font-size: 1rem;
	margin: 1rem 0;
	cursor: pointer;
}

input[type=email] {
	background-color: #E6E7E8;
	border: none;
	border-radius: 4px;
	padding: 0.7rem;
	font-size: 1rem;
}

/*Classes*/
.navfooter {
	margin-top: auto;
}

.navbar nav ul {
	padding: 2rem;
	font-size: 1.2rem;
	background-color: #00AFB9;
}

.bigText {
	font-size: 1.4rem;
	text-align: center;
}

.centerImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

.heroImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

/*Grid*/
@supports (grid-area: auto) {
	@media screen and (min-width: 45rem) {
		.grid3 {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}
		.grid2 {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
		.grid2auto {
			display: grid;
			grid-template-columns: auto auto;
		}

		.center {
			align-self: center;
		}
		
		.centerImage {
			width: 100%;
		}
	}
}

/*Dark mode*/
@media (prefers-color-scheme: dark) {

	body {
		background-color: #1E2023;
	}

	body, a {
		color: #FFFDFB;
	}

	a:hover, span, figcaption, blockquote, .notes {
	color: #ABADAE;
	}

	img {
		opacity: 0.75;
		transition: opacity .5s ease-in-out;	
	}

	img:hover {
		opacity: 1;
	}
}